


.titulos {
    color: red;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Merriweather', serif;
}

header ul {

    list-style: none;
}

.portada {

    background-color: blue;
    height: 800px;
    background: url(img/foto\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



}

img {

    width: 70px;
}

.casamiento {
color: violet;
background-color: aliceblue;

}

.titulo-cursos
{
    text-align: center;
    font-family: sans-serif;
    color: orange;
    font-size: 4rem;
}

.título-ejercicios
{
    text-align: center;
    font-family: sans-serif;
    color: orange;
    font-size: 4rem;
}

.carrusel-card { 
    display: flex;
}

